<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel='stylesheet' href='/css/style.css' />

    <!--[if lt IE 9]>
        <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
        <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  	<div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-5">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <div class="col-md-1">
          <button class="btn btn-primary" onclick="return charge();">Charge</button>
        </div>
        <div class="col-md-3"></div>
      </div>

      <br/>

      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <table class="table table-condensed">
            <thead>
              <tr>
                <th class="col-md-2"><input type="checkbox" checked></th>
                <th>top</th>
                <th>balance</th>
                <th><a href="/add"><i class="glyphicon glyphicon-plus-sign"></i></a></th>
              </tr>
            </thead>
            <tbody>
            <% for (var i=0; i<members.length; i++) { %>
              <tr>
                <th><input type="checkbox"></th>
                <td><a href=""><%=members[i].name%></a></td>
                <td>&yen;<%=members[i].balance%></td>
                <td><a href="/detail/<%=members[i].email%>"><i class="glyphicon glyphicon-pencil"></i></a></td>
              </tr>
            <% } %>
            </tbody>
          </table>
        </div>
        <div class="col-md-3"></div>
      </div>
  	</div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>